.about-me {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 2rem;
  background: #003b46;
  gap: 3rem;
  color: white;

  .my-profile {
    align-self: center;
  
    .my-image {
      background: url("../../assets/my_image.jpg") no-repeat;
      width: 160px;
      height: 160px;
      background-size: cover;
      border-radius: 10px;
    }

    p {
      font-weight: 600;
    }
  }
  
  .who-am-i {
    width: 340px;
    background: #003b46;
    color: white;
  
    p {
      text-align: justify;
    }

    .line {
      border-bottom: 2px solid white;
      margin: auto;
      width: 100%;
    }
  
    a {
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    display: contents;

    .my-image {
      margin: auto;
    }

    .who-am-i {
      margin: auto;
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      width: 70%;
    }
  }
}