.contact {
  justify-content: center;
  display: flex;
  padding: 1rem;

  .send-message {
    text-align: center;
    padding: 1rem 0rem 0rem;
  }

  button {
    filter: brightness(1);
    transition: filter 0.4s ease-in;
  }

  button:hover {
    filter: brightness(0.8);
  }
}