.footer {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 1.5rem 3rem 1.5rem 0rem;
  gap: 6rem;
  background: #003b46;

  .github-section {
    background: url("../../assets/github_logo.png") no-repeat;
    width: 17px;
    height: 17px;
    align-self: center;
    background-size: cover;
    border-radius: 10px;
    filter: invert(1);

    a {
      text-decoration: none;
      margin: 0 0 0 1.5rem;
      filter: invert(1);
      color: white;
      
      box-shadow: none;
      transition: box-shadow 0.4s ease-in;
    }

    a:hover {
      box-shadow: 0 2px white;
    }
  }

  .twitter-section {
    background: url("../../assets/twitter_logo.png") no-repeat;
    width: 17px;
    height: 17px;
    align-self: center;
    background-size: cover;
    border-radius: 10px;
    filter: invert(1);
    
    a {
      text-decoration: none;
      margin: 0 0 0 1.5rem;
      filter: invert(1);
      color: white;
      
      box-shadow: none;
      transition: box-shadow 0.4s ease-in;
    }
    
    a:hover {
      box-shadow: 0 2px white;
    }
  }
}