.container {
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  display: flex;
  gap: 5rem;
  
  .github-card {
    font-size: 18px;

    div {
      width: 400px;
      height: 130px;
      border: 5px solid #003b46;
      border-radius: 6px;
    }

    object {
      filter: saturate(120%) brightness(82%);
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    display: contents;
  
    .github-card {
      padding: 0.5rem;

      div {
        width: 400px;
        margin: auto;
      }
  
      object {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: contents;
  
    .github-card {
      padding: 0.5rem;

      div {
        width: 400px;
        margin: auto;
      }
  
      object {
        width: 100%;
      }
    }
  }
} 

@media screen and (max-width: 426px) {
  .container {
    display: contents;
  
    .github-card {
  
      div {
        width: 90%;
        
      }
  
      object {
        width: 100%;
      }
    }
  }
}