.my-resume {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 2.5rem;

  .line {
    border-bottom: 2px solid white;
    padding: 0.5rem;
  }

  .education-item {
    padding: 0.5rem;
    text-align: justify;

    a {
      color: white;
    }
  }

  .my-curriculum {
    text-align: justify;
    align-self: center;
    padding: 0.5rem;
    
    a {
      color: white;
    }
  }

  .experience-item {
    padding: 0.5rem;
    text-align: justify;
  }

  .left {
    width: 1080px;
    width: 530px;
    border: 2px solid #003b46;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    background: #003b46;
    color: white;

    margin-left: 20px;

    h2 {
      text-decoration: underline;
      margin-bottom: 0.5rem;
    }
  }

  .right {
    width: 1080px;
    width: 530px;
    border: 2px solid #003b46;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    background: #003b46;
    color: white;

    margin-right: 20px;

    h2 {
      text-decoration: underline;
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .my-resume {
    display: contents;

    .left {
      width: 74%;
      margin: auto;
      margin-bottom: 1rem;
    }
  
    .right {
      width: 74%;
      margin: auto;
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .my-resume {
    display: contents;

    .left {
      width: 74%;
      margin: auto;
      margin-bottom: 1rem;
    }
  
    .right {
      width: 74%;
      margin: auto;
      margin-top: 1rem;
    }
  }
}