@import "./modules/navBar.module";
@import "./modules/myPortfolio.module.scss";
@import "./modules/myResume.module.scss";
@import "./modules/aboutMe.module.scss";
@import "./modules/contact.module.scss";
@import "./modules/footer.module.scss";

:root {
  --primary-color: #003b46;
  --secondary-color: #07575b;
}

html {
  scroll-behavior: smooth;
  height: 0;
}

body {
  background: #1a1b1c;
  margin: 0;
  font: 15px -apple-system;
  color: black;
}

section {
  background: rgb(22, 91, 94);
}

.home {
  background: url(../assets/home_image.jpg) no-repeat center;
  background-size: cover;
  height: 980px;
}

.presentation {
  text-align: center;
  color: white;

  padding: 15.5rem 0 0 46rem;
  
  h1 {
    font-size: 50px;
    font-weight: 100;
    margin: 0;

    p {
      margin: 30px 0 30px;

      .my-name {
        font: 80px -apple-system;
        font-weight: 800;
      }
    }
  }

  .my-page {
    font: 18px -apple-system;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff99;
    color: white;
  }
}

.portfolio {
  text-align: center;
  padding: 1.5rem 0rem 0.5rem 0rem;
  padding: 5.5rem 0 0 0;

  strong {
    font-weight: 800;
  }
}

.resume {
  padding: 0.5rem 0rem 2rem 0rem;
  padding: 5.5rem 0 0 0;
  text-align: center;

  strong {
    font-weight: 800;
  }
}

.about {
  padding: 0.5rem 0rem 2rem 0rem;
  padding: 5.5rem 0 0 0;
  text-align: center;

  strong {
    font-weight: 800;
  }
}

.contact-section {
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  padding: 5.5rem 0 1rem 0;

  h3 {
    text-align: center;
    font-size: 22.5px;
    margin: 18.675px 0;

    strong {
      font-weight: 800;
    }
  }
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 2px solid #003b46;
  box-sizing: border-box;
  font: 15px -apple-system;
}

form {
  width: 380px;

  .send-message {
    padding: 1rem 0rem 0rem;
    text-align: center;
  }
}

button {
  text-align: center;
  background-color: #003b46;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .presentation {
    text-align: center;
    
    padding: 0;
    padding-top: 130px;
    
    h1 {
      font-size: 44px;
  
      p {
        margin: 0;
  
        .my-name {
          font: 72px -apple-system;
          font-weight: 800;
        }
      }
    }
  
    .my-page {
      font: 18px -apple-system;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 250px) {
  .presentation {
    
    h1 {
      font-size: 30px;
  
      p {
        margin: 0;
  
        .my-name {
          font: 48px -apple-system;
          font-weight: 800;
        }
      }
    }
  
    .my-page {
      font: 12px -apple-system;
      font-weight: 100;
    }
  }
}