@import "./modules/navBar.module";
@import "./modules/myPortfolio.module.scss";
@import "./modules/myResume.module.scss";
@import "./modules/aboutMe.module.scss";
@import "./modules/contact.module.scss";
@import "./modules/footer.module.scss";

:root {
  --primary-color: #003b46;
  --secondary-color: #07575b;
}

html {
  scroll-behavior: smooth;
  height: 0;
}

body {
  margin: 0;
  font: 15px 'Poppins', sans-serif;;
  color: white;
}

section {
  background: var(--secondary-color);
}

.home {
  background: url(../assets/home_image.jpg) no-repeat center;
  background-size: cover;
  height: 980px;
}

.presentation {
  text-align: center;
  color: white;

  padding: 15rem 0 0 42.5rem;
  
  h1 {
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    p {
      margin: 30px 0 30px;

      .my-name {
        font: 76px 'Verdana';
        font-weight: 800;
      }
    }
  }

  .my-page {
    font: 18px Verdana;
    font-weight: 200;
    text-transform: uppercase;
    color: #ffffff99;
    color: white;
  }
}

.portfolio {
  text-align: center;
  padding: 1.5rem 0rem 0.5rem 0rem;
  padding: 5.5rem 0 0 0;

  h2 {
    font-weight: 400;
  }

  strong {
    font-weight: 800;
  }
}

.resume {
  padding: 0.5rem 0rem 2rem 0rem;
  padding: 5.5rem 0 0 0;
  text-align: center;

  h2 {
    font-weight: 400;
  }

  strong {
    font-weight: 800;
  }
}

.about {
  padding: 0.5rem 0rem 2rem 0rem;
  padding: 5.5rem 0 0 0;
  text-align: center;

  h2 {
    font-weight: 400;
  }

  strong {
    font-weight: 800;
  }
}

.contact-section {
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  padding: 5.5rem 0 1rem 0;

  font-family:'Poppins', sans-serif;

  h3 {
    text-align: center;
    font-size: 22.5px;
    margin: 18.675px 0;
    
    font-weight: 400;

    strong {
      font-weight: 800;
    }
  }
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 2px solid #003b46;
  box-sizing: border-box;
  font: 15px Verdana;
  font-family:'Poppins', sans-serif;
}

form {
  width: 380px;

  .send-message {
    padding: 1rem 0rem 0rem;
    text-align: center;
  }
}

button {
  text-align: center;
  background-color: #003b46;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family:'Poppins', sans-serif;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

@media screen and (max-width: 1210px) {
  .presentation {
    padding: 18rem 0 0 36rem;
    
    h1 {
      font-size: 50px;
  
      p {
        margin: 0;

        margin: 20px 0 20px;
  
        .my-name {
          font: 64px Verdana;
          font-weight: 800;
        }
      }
    }

    .my-page {
      font: 20px Verdana;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 1044px) {
  .presentation {
    padding: 14rem 0 0 34rem;

    text-align: center;
    
    padding: 0;
    padding-top: 130px;
    
    h1 {
      font-size: 50px;
  
      p {
        margin: 0;
  
        .my-name {
          font: 80px Verdana;
          font-weight: 800;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .presentation {
    text-align: center;
    
    padding: 0;
    padding-top: 130px;
    
    h1 {
      font-size: 44px;
  
      p {
        margin: 0;
  
        .my-name {
          font: 72px Verdana;
          font-weight: 800;
        }
      }
    }
  
    .my-page {
      font: 18px Verdana;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 540px) {
  .presentation {
    padding-top: 6rem;
    
    h1 {
      font-size: 38px;
  
      p {
        margin: 0;
  
        .my-name {
          font: 60px Verdana;
          font-weight: 800;
        }
      }
    }
  
    .my-page {
      font: 18px Verdana;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 430px) {
  .presentation {
    padding-top: 6rem;
    
    h1 {
      font-size: 30px;
  
      p {
        margin: 0;
  
        .my-name {
          font: 50px Verdana;
          font-weight: 800;
        }
      }
    }
  
    .my-page {
      font: 14px Verdana;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 340px) {
  .presentation {
    padding-top: 4rem;
    
    h1 {
      font-size: 24px;
  
      p {
        margin: 0;
  
        .my-name {
          font: 40px Verdana;
          font-weight: 800;
        }
      }
    }
  
    .my-page {
      font: 12px Verdana;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 290px) {
  .presentation {
    padding-top: 6rem;
    
    h1 {
      font-size: 20px;
  
      p {
        margin: 0;
  
        .my-name {
          font: 30px Verdana;
          font-weight: 800;
        }
      }
    }
  
    .my-page {
      font: 10px Verdana;
      font-weight: 100;
    }
  }
}